{% extends ../base.html %}

{% block meta %}
{% end %}

{% block title %}Crafty Controller - {{ translate('userConfig', 'editTOTP', data['lang']) }}{% end %}

{% block content %}
<link href="/static/assets/css/mfa.css" rel="stylesheet">
<div class="content-wrapper">

    <!-- Page Title Header Starts-->
    <div class="row page-title-header">
        <div class="col-12">
            <div class="page-header">
                <h4 class="page-title">
                    {{ translate('userConfig', 'editTOTP', data['lang']) }} - {{ data['user']['user_id'] }}
                    <br />
                    <small>UID: {{ data['user']['user_id'] }}</small>
                </h4>
            </div>
        </div>

    </div>
    <!-- Page Title Header Ends-->

    <div class="row">

        <div class="col-sm-12 grid-margin">
            <div class="card">
                <div class="card-body  pt-0">
                    <ul class="nav nav-tabs col-md-12 tab-simple-styled " role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="/panel/edit_user?id={{ data['user']['user_id'] }}&subpage=config"
                                role="tab" aria-selected="false">
                                <i class="fas fa-cogs"></i>{{ translate('userConfig', 'config', data['lang']) }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/panel/edit_user_apikeys?id={{ data['user']['user_id'] }}"
                                role="tab" aria-selected="true">
                                <i class="fas fa-key"></i>{{ translate('apiKeys', 'apiKeys', data['lang']) }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/panel/edit_user_otp?id={{ data['user']['user_id'] }}"
                                role="tab" aria-selected="true">
                                <i class="fa-solid fa-shield-halved"></i>{{ translate('userConfig', 'totpHeader',
                                data['lang']) }}</a>
                        </li>
                    </ul>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header header-sm d-flex justify-content-between align-items-center">
                                    <h4 class="card-title"><i class="fas fa-key"></i>&nbsp;{{ translate('otp',
                                        'otpTitle',
                                        data['lang']) }}</h4>
                                    <div><button class="btn btn-primary" id="createButton" data-backup-codes="{{
                                        translate('otp', 'backupCodes', data['lang']) }}" data-backup-codes-max="{{
                                            translate('otp', 'backupCodesMax', data['lang']) }}"><i
                                                class="fas fa-plus-circle"></i>
                                            &nbsp; {{
                                            translate('otp', 'newOTP', data['lang']) }}</button></div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr class="rounded">
                                                        <!--<th>ID</th>-->
                                                        <th>{{ translate('otp', 'name', data['lang']) }}</th>
                                                        <th>{{ translate('otp', 'id', data['lang']) }}</th>
                                                        <th>{{ translate('otp', 'config', data['lang']) }}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for otp in data['totp'] %}
                                                    <tr id="{{otp['id']}}">
                                                        <td>
                                                            <span>
                                                                {{ otp['name'] }}
                                                            </span>
                                                        </td>
                                                        <td>{{ otp['id'] }}</td>
                                                        <td><button class="btn btn-danger delete-totp"
                                                                data-totp-id="{{ otp['id'] }}"
                                                                data-totp-name="{{ otp['name'] }}"
                                                                data-delete-warn="{{translate('otp', 'deleteConfirm', data['lang'])}}"
                                                                data-yes="{{translate('otp', 'yes',
                                                                data['lang'])}}"
                                                                data-no="{{ translate('otp', 'no', data['lang'])}}">{{translate('otp',
                                                                'delete', data['lang'])}}</button>
                                                        </td>
                                                    </tr>
                                                    {% end %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- content-wrapper ends -->

{% end %}

{% block js %}
<script>
    // Function to generate the TOTP QR code URL
    function generateTotpQrCode(secret, user, issuer) {
        const otpAuthUrl = `otpauth://totp/${encodeURIComponent(issuer)}:${encodeURIComponent(user)}?secret=${secret}&issuer=${encodeURIComponent(issuer)}`;

        $('#qrcode').empty(); // Clear any existing QR code
        new QRCode(document.getElementById('qrcode'), {
            text: otpAuthUrl,
            width: 300, // Adjust size
            height: 300,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.L
        });
    }

    // Function to create the modal response content
    function createResponseDiv(data) {
        let backupcodes = `<ul class="list-group">`;
        data["backup_codes"].forEach(element => {
            backupcodes += `<li class="list-group-item">${element}</li>`;
        });
        backupcodes += `</ul>`
        if (data["backup_codes"].length == 0) {
            backupcodes = `<div style="text-align: center; color: grey;">
                            ${$("#createButton").data("backup-codes-max")}
                            </div>`
        }

        const contentHTML = `
            <div class="bootbox-custom-layout row">
                <div class="left-panel col-md-6 col-12 d-flex flex-column align-items-center justify-content-center">
                    <div id="qrcode" class="mb-3"></div>
                    <ul class="list-group">
                    <li class="list-group-item" id="secret">${data["otp"]["totp_secret"]}</li>
                    <ul>
                    
                    <!-- Input and Verify button inline -->
                    <div class="d-flex align-items-center mt-3">
                        <input type="text" class="form-control me-2" placeholder="Enter code">
                        <button class="btn btn-primary">Verify</button>
                    </div>
                </div>
                <div class="right-panel col-md-6 col-12">
                    <h4>${$("#createButton").data("backup-codes")}</h4>
                    <ul class="list-group">
                        ${backupcodes}
                    </ul>
                </div>
            </div>
        `;
        let responseDIV = document.createElement("div");
        responseDIV.setAttribute("id", "resContainer");
        $(responseDIV).html(contentHTML);

        return responseDIV;
    }

    const userId = new URLSearchParams(document.location.search).get('id');
    const token = getCookie("_xsrf");

    // Create TOTP on button click
    $("#createButton").click(function () {
        bootbox.prompt({
            title: "Enter the name for the new TOTP setup",
            centerVertical: true,
            callback: async function (result) {
                if (!result) {
                    return;
                }
                let res = await fetch(`/api/v2/users/${userId}/totp/`, {
                    method: 'POST',
                    headers: {
                        'X-XSRFToken': token
                    },
                    body: JSON.stringify({ "name": result }),
                });
                let responseData = await res.json();
                if (responseData.status === "ok") {
                    let resdiv = createResponseDiv(responseData.data);
                    bootbox.dialog({
                        title: 'Your TOTP QR Code',
                        size: "large",
                        closeButton: false,
                        message: resdiv, // Display the generated QR code
                        buttons: {
                            close: {
                                label: 'Close',
                                className: 'bb-close-button',
                                callback: function () {
                                    // Optional: Any cleanup logic
                                }
                            }
                        }
                    });
                    $(`.bb-close-button`).prop("disabled", true);

                    // Generate the QR Code with the TOTP secret, user name, and issuer
                    generateTotpQrCode(responseData.data["otp"]["totp_secret"], responseData.data["otp"]["user"]["username"], "CraftyController");
                } else {
                    bootbox.alert({
                        title: responseData.error,
                        message: responseData.error_data
                    });
                }
            }
        });
    });

    $('.delete-totp').click(function () {
        let keyId = $(this).data("totp-id");
        let yes = $(this).data("yes");
        let no = $(this).data("no");
        let warn = $(this).data("delete-warn")
        let name = $(this).data("totp-name")
        return bootbox.confirm({
            message: `${warn}<br><br>${name}`,
            buttons: {
                confirm: {
                    label: yes,
                    className: 'btn-danger'
                },
                cancel: {
                    label: no,
                    className: 'btn-secondary'
                }
            },
            callback: function (result) {
                if (result) {
                    deleteTOTP(keyId)
                }
            }
        });
    });

    // Delete TOTP on button click
    async function deleteTOTP(keyId) {
        console.log("CONFIRM DEAD")
        let res = await fetch(`/api/v2/users/${userId}/totp/${keyId}/`, {
            method: 'DELETE',
            headers: {
                'X-XSRFToken': token
            },
        });
        let responseData = await res.json();
        if (responseData.status === "ok") {
            $(`#${keyId}`).remove();
        } else {
            bootbox.alert({
                title: responseData.error,
                message: responseData.error_data
            });
        }
    };
</script>
<script src="../../static/assets/vendors/js/qrcode.min.js"></script>

{% end %}