{% extends ../base.html %}

{% block meta %}
{% end %}

{% block title %}Crafty Controller - {{ translate('serverDetails', 'serverDetails', data['lang']) }}{% end %}

{% block content %}
<div class="content-wrapper">

    <!-- Page Title Header Starts-->
    <div class="row page-title-header">
        <div class="col-12">
            <div class="page-header">
                <h4 class="page-title">
                    {{ translate('serverDetails', 'serverDetails', data['lang']) }} - {{
                    data['server_stats']['server_id']['server_name'] }}
                    <br />
                    <small>UUID: {{ data['server_stats']['server_id']['server_id'] }}</small>
                </h4>
            </div>
        </div>

    </div>
    <!-- Page Title Header Ends-->

    {% include "parts/details_stats.html %}

    <div class="row">
        <div class="col-sm-12 grid-margin">
            <div class="card">
                <div class="card-body  pt-0">
                    <span class="d-none d-sm-block">
                        {% include "parts/server_controls_list.html %}
                    </span>
                    <span class="d-block d-sm-none">
                        {% include "parts/m_server_controls_list.html %}
                    </span>
                    <div id="selectHead">
                        <select class="form-control">
                            <option value="0">Basic</option>
                            <option value="1">Advanced</option>
                        </select>
                    </div>
                    <br>
                    <div id="basic">
                        {% include "../panel/parts/big_bucket_wiz.html" %}
                    </div>
                    <div id="advanced">
                        Test
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="../../static/assets/css/partial/crafty-update-center.css">
{% end %}
<script>

</script>