{% extends ../base.html %} {% block meta %} {% end %} {% block title %}Crafty
Controller - {{ translate('serverDetails', 'serverDetails', data['lang']) }}{%
end %} {% block content %}

<link href="/static/assets/css/partial/crafty-files.css" rel="stylesheet">

<div class="content-wrapper">
    <!-- Page Title Header Starts-->
    <div class="row page-title-header">
        <div class="col-12">
            <div class="page-header">
                <h4 class="page-title">
                    {{ translate('serverDetails', 'serverDetails', data['lang']) }} - {{
                    data['server_stats']['server_id']['server_name'] }}
                    <br />
                    <small>UUID: {{ data['server_stats']['server_id']['server_id'] }}</small>
                </h4>
            </div>
        </div>
    </div>
    <!-- Page Title Header Ends-->

    {% include "parts/details_stats.html" %}

    <div class="row">
        <div class="col-sm-12 grid-margin">
            <div class="card">
                <div class="card-body pt-0">
                    <span class="d-none d-sm-block">
                        {% include "parts/server_controls_list.html %}
                    </span>
                    <span class="d-block d-sm-none">
                        {% include "parts/m_server_controls_list.html %}
                    </span>
                    <div id="context-container" class="table-responsive">
                        <div id="drop-zone">
                            <div id="drop-zone-overlay">
                                <i class="fa-solid fa-cloud-arrow-up fa-10x" id="drop-zone-img"></i>
                            </div>
                            <table class="table no-scroll animated-table" id="files_table"
                                data-path="{{data['server_stats']['server_id']['path'] }}"
                                data-delete="{{ translate('serverFiles', 'delete', data['lang']) }}" data-rename="{{
                    translate('serverFiles', 'rename', data['lang']) }}" data-unzip="{{
                    translate('serverFiles', 'unzip', data['lang']) }}" data-download="{{
                    translate('serverFiles', 'download', data['lang']) }}">
                                <thead class="thead">
                                    <tr>
                                        <th id="table-nav" class="table-nav">
                                        </th>
                                    </tr>
                                    <tr>
                                        <th id="table-nav-buttons" class="table-nav-buttons">
                                            <button id="create-dir" class="btn btn-outline-info">Create
                                                Directory</button>
                                            &nbsp;
                                            <button id="create-file" class="btn btn-outline-info">Create File</button>
                                            &nbsp;
                                            <button id="upload-file" class="btn btn-outline-info">Upload File</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th scope="col-7">Name</th>
                                        <th scope="col-1">Type</th>
                                        <th scope="col-2">Date Modified</th>
                                        <th scope="col-1">Size</th>
                                        <th scope="col-1">Options</th>
                                    </tr>
                                </thead>
                                <tbody id="files-table-body">
                                </tbody>
                            </table>
                        </div>
                    </div> <!--table div-->
                </div> <!--card-body-->
            </div> <!--card-->
        </div> <!--col-sm-12-->
    </div> <!--row-->
</div> <!--content-wrapper-->
{% include parts/context_menu.html %}
{% end %} {% block js %}
<script>
    const serverId = new URLSearchParams(document.location.search).get("id");

    $(document).ready(function () {
        getTreeView($("#files_table").data("path"));
    })
</script>
<script src="/static/assets/js/shared/files.js"></script>
<script src="../../static/assets/js/shared/upload.js"></script>
{% end %}