{% extends ../base.html %} {% block meta %} {% end %} {% block title %}Crafty
Controller - {{ translate('serverDetails', 'serverDetails', data['lang']) }}{%
end %} {% block content %}

<div class="content-wrapper">
    <!-- Page Title Header Starts-->
    <div class="row page-title-header">
        <div class="col-12">
            <div class="page-header">
                <h4 class="page-title">
                    {{ translate('serverDetails', 'serverDetails', data['lang']) }} - {{
                    data['server_stats']['server_id']['server_name'] }}
                    <br />
                    <small>UUID: {{ data['server_stats']['server_id']['server_id'] }}</small>
                </h4>
            </div>
        </div>
    </div>
    <!-- Page Title Header Ends-->

    {% include "parts/details_stats.html" %}

    <div class="row">
        <div class="col-sm-12 grid-margin">
            <div class="card">
                <div class="card-body pt-0">
                    <span class="d-none d-sm-block">
                        {% include "parts/server_controls_list.html %}
                    </span>
                    <span class="d-block d-sm-none">
                        {% include "parts/m_server_controls_list.html %}
                    </span>
                    <div class="table-responsive">
                        <table class="table no-scroll" id="root_dir"
                            data-path="{{data['server_stats']['server_id']['path'] }}">
                            <thead class="thead">
                                <tr>
                                    <th scope="col-4">Name</th>
                                    <th scope="col-2">Type</th>
                                    <th scope="col-2">Date Modified</th>
                                    <th scope="col-2">Size</th>
                                    <th scope="col-2">Options</th>
                                </tr>
                            </thead>
                            <tbody id="files-table-body">
                                <p>loading</p>
                            </tbody>
                        </table>
                    </div> <!--table div-->
                </div> <!--card-body-->
            </div> <!--card-->
        </div> <!--col-sm-12-->
    </div> <!--row-->
</div> <!--content-wrapper-->
{% end %} {% block js %}
<script>
    const serverId = new URLSearchParams(document.location.search).get("id");

    $(document).ready(function () {
        getTreeView($("#root_dir").data("path"));
    })
</script>
<script src="/static/assets/js/shared/files.js"></script>
{% end %}