<div class="col-sm-12 mt-4 mb-4">
    <div class="dropdown">
        <button class="btn btn-outline dropdown-toggle custom-picker" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
            <i class="ph-bold ph-list"></i> Crafty Config
        </button>
        <div class="dropdown-menu col-md-12" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item {% if data['active_link'] == 'panel_config' %}active{% end %}" href="/panel/panel_config" role="tab" aria-selected="false">
                <i class="ph-fill ph-wrench"></i> Panel Config</a>
            <a class="dropdown-item {% if data['active_link'] == 'config_json' %}active{% end %}" href="/panel/config_json" role="tab" aria-selected="false">
                <i class="ph-bold ph-code"></i> Config.json</a>
            <a class="dropdown-item {% if data['active_link'] == 'custom_login' %}active{% end %}" href="/panel/custom_login" role="tab" aria-selected="false">
                <i class="ph-bold ph-palette"></i> Custom Login</a>
        </div>
    </div>
</div>