<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown user-dropdown">
    <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
      <img class="img-xs rounded-circle profile-picture" onerror="pfpError(this)" src="{{ data['user_data']['pfp'] }}"
        alt="Profile"><span class="badge mfa-warn-badge d-none mfa-warn"><i
          class="ph-bold ph-warning text-warning"></i></span> </a>
    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
      <div class="dropdown-header text-center">
        <img class="img-md rounded-circle profile-picture" onerror="pfpError(this)" src="{{ data['user_data']['pfp'] }}"
          alt="Profile">
        <p class="mb-1 mt-3 font-weight-semibold">{{ data['user_data']['username'] }}</p>
        <p class="font-weight-light text-muted mb-0">Roles: </p>
        {% for r in data['user_role'] %}
        <p class="font-weight-light text-muted mb-0">{{ r }}</p>
        {% end %}
        {% if data.get('api_key') %}
        <p class="mt-3">Logged in as API key "{{ data['api_key']['name'] }}"</p>
        {% end %}
        <p class="font-weight-light text-muted mb-0">Email: {{ data['user_data']['email'] }}</p>
      </div>
      <div id="mfa-container" class="d-none mfa-warn-text mfa-warn card-header header-sm justify-content-center">
        <a id="mfa-link" class="small mfa-dark" href="/panel/edit_user_otp?id={{data['user_data']['user_id']}}"
          target="_blank"><i class="ph-fill ph-warning"></i>{{translate("base",
          "getMFA", data['lang'])}}
        </a>
      </div>
      <br />
      <a class="dropdown-item" href="/panel/edit_user?id={{data['user_data']['user_id']}}"><i
          class="ph-bold ph-gear dropdown-item-icon text-primary"></i>{{
        translate('notify', 'accountSettings',
        data['lang']) }}</a>
      {% if data['support_perm'] %}
      {% if data['user_data']['preparing'] %}
      <span class="dropdown-item" id="support_progress"><i
          class="dropdown-item-icon mdi mdi-download-outline text-primary"></i>{{ translate('notify', 'supportLogs',
        data['lang']) }}<br><br></span>
      <span class="dropdown-item" id="support_progress">
        <div class="support_progress">
          <progress class="progress-bar progress-bar-striped progress-bar-animated" id="logs_progress_bar"
            style="width:0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</progress>
        </div>
      </span>
      {% else %}
      <a class="dropdown-item  support_logs" id="support_logs"><i
          class="dropdown-item-icon mdi mdi-download-outline text-primary"></i>{{ translate('notify', 'supportLogs',
        data['lang']) }}</i></a>
      {% end %}
      {% end %}
      {% if data['superuser'] %}
      <a class="dropdown-item" href="/panel/activity_logs"><i
          class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary"></i>{{
        translate('notify',
        'activityLog', data['lang']) }}</a>
      {% end %}
      <a class="dropdown-item" href="/logout"><i class="dropdown-item-icon mdi mdi-power text-primary"></i>{{
        translate('notify', 'logout', data['lang']) }}</a>
    </div>
  </li>
</ul>
<style>
  .badge-notify {
    background: var(--purple);
    color: var(--dark);
    position: absolute;
    -moz-transform: translate(-70%, -70%);
    /* For Firefox */
    -ms-transform: translate(-70%, -70%);
    /* for IE */
    -webkit-transform: translate(-70%, -70%);
    /* For Safari, Chrome, iOS */
    -o-transform: translate(-70%, -70%);
  }

  .clear-button:hover {
    cursor: pointer;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .notif-div::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .notif-div {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
</style>
<script>
  function pfpError(image) {
    image.onerror = "";
    image.src = "/static/assets/images/faces-clipart/pic-3.png";
    return true;
  }

  $(".support_logs").click(async function () {
    window.open(`/api/v2/crafty/support_logs`, '_blank');
  })

  $(document).ready(function () {
    const bg = getComputedStyle(document.documentElement)
      .getPropertyValue("--dropdown-bg")
      .trim();
    if (isLight(bg)) {
      $("#mfa-link").addClass("mfa-light");
      $("#mfa-link").removeClass("mfa-dark");
    }
  })

  function isLight(color) {
    let hex = color.replace("#", "");

    // Expand shorthand (#abc → #aabbcc)
    if (hex.length === 3) {
      hex = hex.split("").map(c => c + c).join("");
    }

    const r = Number.parseInt(hex.substring(0, 2), 16);
    const g = Number.parseInt(hex.substring(2, 4), 16);
    const b = Number.parseInt(hex.substring(4, 6), 16);

    const luminance = (0.299 * r + 0.587 * g + 0.114 * b) / 255;
    return luminance > 0.6;
  }
</script>
